{
    "trailingComma": "all",
    "tabWidth": 2,
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "useTabs": false,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "proseWrap": "preserve",
    "endOfLine": "lf"
}
